In [ ]:
n = int(input("Enter a positive integer: "))
sum_numbers = 0
counter = 1

Enter a positive integer: 10

In [ ]:
print("Numbers from 1 to", n, ":")
for i in range(1, n + 1):
    print(i)

Numbers from 1 to 10 :
1
2
3
4
5
6
7
8
9
10

In [ ]:
while counter <= n:
    sum_numbers += counter
    counter += 1

In [ ]:
print("The sum of all numbers from 1 to", n, "is:", sum_numbers)

The sum of all numbers from 1 to 10 is: 55

In [ ]:
def calculate_square(n):
    return n ** 2

In [ ]:
number = int(input("Enter a positive integer: "))

Enter a positive integer: 15

In [ ]:
square = calculate_square(number)

In [ ]:
print(f"The square of {number} is: {square}")

The square of 15 is: 225